/** --------------------------------------------------------------------

  ARIA Toggle Block

--------------------------------------------------------------------- */

.atblock {
  border: 1px solid;
  position: relative;
}

.atblock__title,
.atblock__panel {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.atblock__title__trigger {
  border-bottom: 1px solid;
  display: block;
  padding: 4px 8px;

}


/* these need to be siblings. so as to ensure
   that content isn't hidden if a title doesn't exist */
.atblock__title + .atblock__panel {
  max-height: 0vh;
  padding: 0px 8px;
  transition:
    padding .2s ease-in-out,
    max-height .2s ease-in-out,
    visibility .2s ease-in-out;
  visibility: hidden;
}

.atblock__title + .atblock__panel[aria-hidden="false"],
.no-js .atblock__title + .atblock__panel:target {
  max-height: 40vh;
  padding: 4px 8px;
  visibility: visible;
}
